{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block styles%}
<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Leckerli+One|Merienda|Oleo+Script&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block content %}

<div class="row" style="font-family: 'Leckerli One', cursive;">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form action="{% url 'edit_profile' %}" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            {% bootstrap_form form layout="inline" %}

            <input type="submit" value="save profile" class="btn btn-success btn-sm">
        </form>

    </div>
    <div class="col-md-4"></div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% bootstrap_javascript %}
{% endblock %}