{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block styles%}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h5>Create Business</h5>
            <form action="{% url 'new_biz' %}" method="post">
                {% csrf_token %}
                {% bootstrap_form form layout="inline"%}
                <input type="submit" class="btn btn-primary btn-sm" value="submit">
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock%}