{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block styles%}
<link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative|Nixie+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block content %}
    <div class="container" style="font-family: 'Nixie One',cursive;font-weight: bolder;margin-top: 1rem;">
    <form action="{%url 'new_post'%}" method="post" enctype="multipart/form-data">
        {%csrf_token%}

        {% bootstrap_form form layout='inline'%}
        <input type="submit" class="btn btn-success btn-sm" value="Post">
    </form>
</div>
    {% endblock%}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% bootstrap_javascript %}
{% endblock %}