{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block styles%}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block content %}
<div class="container" style="font-family: 'Nixie One'">

    <div class="row" style="font-family: 'Nixie One'">
        <hr>
        <img src="{{ post.post_image.url }}" class="img-thumbnail" alt="">
        <hr>
    </div>
</div>
<hr>

<div class="container" style="font-family: 'Nixie One'">
    <hr>
   <div class="row">
       <div class="panel">
           <div class="panel-header">
            <h4>
                {{post.title}}
            </h4>
           </div>
           <div class="panel-body">
               
               <p> Post Description: {{post.post_description}}</p>
               <hr>
               <p>Posted by {{post.profile}}</p>
               <hr>
               <p>{{post.posted}}</p> <a href="{{post.link}}" class="btn btn-success btn-sm">View Site</a>
           </div>
       </div>
   </div>

    <hr>
     <div class="row">
         <div class="col-md-2"></div>
         <div class="col-md-8">
             {%for comment in comments%}
             <div class="well">
                 <p>{{ comment.posted_by}}: {{comment.review}}</p>
             </div>
             {% endfor%}
         </div>
         <div class="col-md-2"></div>
     </div>
    <hr>
    <form action="{% url 'single_post' post.id%}" id="form" method="post">
        {% csrf_token%}
        {%bootstrap_form form layout='inline'%}
        <input type="submit" class="btn btn-success btn-sm" value="Comment">
    </form>

    <hr>
</div>
{% endblock%}

{% block scripts %} {{block.super}}
<script type="text/javascript" src="{%static 'js/comment.js'%}"></script>
{% endblock %}
