{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block styles%}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block content %}
<div class="container" style="font-family: 'Leckerli One', cursive;">
    <div class="row" style="margin-top: 1.3rem">
        <div class="col-md-4">
            <p>Content Rating: {{ct}} </p>
        </div>
        <div class="col-md-4">
            <p>Design Rating: {{dt}} </p>
        </div>
        <div class="col-md-4">
            <p>Usability Rating: {{ut}}</p>
        </div>
    </div>
    <div class="row" style="font-family: 'Leckerli One', cursive;">
        <hr>
        <img src="{{ project.project_image.url }}" class="img-thumbnail" alt="">
        <hr>
    </div>
</div>
<hr>

<div class="container" style="font-family: 'Leckerli One', cursive;">
    <div class="row">
        <div class="col-md-4">
            <h6> Content Rate</h6>
                <form action="{% url 'single_project' project.id %}" method="post">
                    {% csrf_token%}
                    {%bootstrap_form contform layout='inline'%}
                    <input type="submit" class="btn btn-success btn-sm" value="Rate">
                </form>
        </div>
        <hr>
        <div class="col-md-4">
            <h6> Design Rate</h6>
                <form action="{% url 'single_project' project.id %}" method="post">
                    {% csrf_token%}
                    {%bootstrap_form desform layout='inline'%}
                    <input type="submit" class="btn btn-success btn-sm" value="Rate">
                </form>
        </div>
        <hr>
        <div class="col-md-4">
            <h6> Usability Rate</h6>
                <form action="{% url 'single_project' project.id %}" method="post">
                    {% csrf_token%}
                    {%bootstrap_form useform layout='inline'%}
                    <input type="submit" class="btn btn-success btn-sm" value="Rate">
                </form>
        </div>
    </div>
    <hr>
   <div class="row">
       <div class="panel">
           <div class="panel-header">
            <h4>
                {{project.title}}
            </h4>
           </div>
           <div class="panel-body">
               
               <p> Project Description: {{project.project_description}}</p>
               <hr>
               <p>Posted by {{project.profile}}</p>
               <hr>
               <p>{{project.posted}}</p> <a href="{{project.link}}" class="btn btn-success btn-sm">View Site</a>
           </div>
       </div>
   </div>
    <!-- <div class="row">
        <h3>{{project.title}}</h3>
        <hr>
        <p>{{project.project_description}}</p>
        <hr> -->
    <!-- <a type="button" class="btn btn-success btn-sm" href="{{project.link}}" value="view site"> -->
    <!-- <a href="{{project.link}}" target="blank" class="btn btn-success btn-sm"> view site</a>
        <p>Posted : {{project.posted}}</p>
        </div> -->
    <hr>
     <div class="row">
         <div class="col-md-2"></div>
         <div class="col-md-8">
             {%for comment in comments%}
             <div class="well">
                 <p>{{ comment.posted_by}}: {{comment.review}}</p>
             </div>
             {% endfor%}
         </div>
         <div class="col-md-2"></div>
     </div>
    <hr>
    <form action="{% url 'single_project' project.id%}" id="form" method="post">
        {% csrf_token%}
        {%bootstrap_form form layout='inline'%}
        <input type="submit" class="btn btn-success btn-sm" value="Comment">
    </form>

    <hr>
</div>
{% endblock%}

{% block scripts %} {{block.super}}
<script type="text/javascript" src="{%static 'js/comment.js'%}"></script>
{% endblock %}
