body{
    background-image: url('../photos/image.jpg');
    background-position: contain;
    background-size: 100%;
    background-repeat: no-repeat;
}
 body h3{
    font-family: 'Cinzel Decorative', cursive;
    transform: translateY(40px);
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    margin: 2rem;
}
body h4{
    margin-top: 4rem;
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
}
p{
    text-align: center;
    font-family: 'Nixie One',
    cursive;
    font-weight: bolder;
}