{% extends 'registration/base.html' %}
{% load bootstrap4 %}
{% block styles%}
<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Leckerli+One|Merienda|Oleo+Script&display=swap"
    rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container" style="font-family: 'Leckerli One', cursive;">
    <div class="row">
        <div class="col-md-4"></div>

        <div class="col-md-4">
            {% if forms.errors %}
            <p>Some Information Might Be Missing</p>
            {% endif %}

            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="text-center">Sign Up</h3>
                </div>

                <div class="panel-body">
                    <form action="/accounts/register/" method="post">

                        {% csrf_token %}]

                        {% bootstrap_form form layout='inline' %}

                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-sm" value="Sign Up">
                        </div>

                        <input type="hidden" name="next" value="{{next}}">
                    </form>
                </div>
                <p> Already have an Account? <a href="/accounts/login">Login</a></p>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}